# Ignore Terraform plugin and cache folders anywhere
**/.terraform/*
**/.terraform.lock.hcl

# Ignore Terraform state files
**/*.tfstate
**/*.tfstate.backup

# Ignore tfvars (potentially sensitive)
**/*.tfvars
**/*.tfvars.json

# Ignore crash logs and backups
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore local .zip or plan files
**/*.zip
**/*.plan

# Ignore OS/editor junk
.DS_Store
*.swp
